.containerTask {
    max-width: 46rem;
    margin: 0 auto;
    padding-top: 1rem;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;
}

.createTask {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--gray-500);
    border: 1px solid var(--gray-400);
    border-radius: 8px;
}

.createTask + .createTask {
    margin-top: 0.75rem;
}

.description_task {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 1rem;
}

.description_task span {
    color: var(--gray-100);
    font-size: 0.875rem;
}

.createTask button {
    background: none;
    border: none;
    color: var(--gray-300);
    padding: 1rem 1rem 1rem 0;
}

.createTask button:hover {
    color: var(--danger);
}

.header {
    max-width: 46rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 3rem 0 1rem 0;
}

.taskCreated {
    display: flex;
    align-items: center;
    color: var(--blue);
    font-weight: bold;
    gap: 8px;
}

.taskCreated span {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 100%;
    background: var(--gray-400);
    color: var(--gray-100);
}

.taskDone {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--purple);
    font-weight: bold; 
}

.taskDone span {
    font-size: 0.75rem;
    padding: 0.2rem 0.5rem;
    border-radius: 100%;
    background: var(--gray-400);
    color: var(--gray-100);
}

.taskLists {
    display: flex;
    flex-direction: column;;
    border-top: 1px solid var(--gray-400);
    border-radius: 8px;

    max-width: 46rem;
    margin: 0 auto;
}

.taskListContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    padding: 3rem 2rem;
}

.contentImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentParagraph {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    margin-top: 1rem;
    line-height: 1.4;
    color: var(--gray-300);
}


.spaceTask > img {
    width: 3.5rem;
} 

@media (max-width: 474px) {
    .contentParagraph > span {
       font-size: 87.5%;
       margin-top: 0.2rem;
    }
 }
